<div class="row"> 
  <div class="offset-10 col-md-2" style="padding-top: 10px;">
    <a class="btn btn-primary small" [routerLink]="['/supplier/create']">Add Supplier</a>
  </div>
</div>
<br>
<div class="row offset-2 col-md-12">
  <div class="col-md-8">
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of suppliers">
            <td>{{x.supplierId}}</td>
            <td>{{x.supplierName}}</td>
            <td>{{x.supplierDescription}}</td>
            <td>{{x.supplierEmail}}</td>
            <td>{{x.supplierContactNumber}}</td>

            <td><button type="button" id="details" class="btn btn-light" 
              (click)="getSupplierDetails(x.supplierId)">Details</button></td>
            <td><button type="button" id="update" class="btn btn-success" 
              (click)="redirectToUpdatePage(x.supplierId)">Update</button></td>
            <td><button type="button" id="delete" class="btn btn-danger" 
              (click)="redirectToDeletePage(x.supplierId)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>


