<div class="card card-body bg-light mb-2 mt-2 offset-2 col-md-8">
    <div class="row">
      <div class="col-md-3">
        <strong>Special Id:</strong>
      </div>
      <div class="col-md-4">
        {{special?.specialId}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Name:</strong>
        </div> 
        <div class="col-md-4">
          {{special?.specialName}}
        </div>
      </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Start Date:</strong>
      </div>
      <div class="col-md-4">
        {{special?.specialStartDate}}
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
          <strong>End Date</strong>
        </div>
        <div class="col-md-4">
          {{special?.specialEndDate}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <strong>Name:</strong>
        </div>
        <div class="col-md-4">
          {{special?.specialDescription }}
        </div>
      </div>
  

      <div class="row">
        <div class="col-md-offset-8 col-md-1">
          <button type="submit" class="btn btn-info" (click)="delete()">Delete</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectTospecialList()">Cancel</button>
        </div>
      </div>
  
</div>


  
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectTospecialList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>