<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Order Line Id:</strong>
      </div>
      <div class="col-md-4">
        {{orderLine?.orderLineId}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Item Quantity:</strong>
        </div>
        <div class="col-md-4">
          {{orderLine?.itemQuantity}}
        </div>
      </div>

    <div class="row">
      <div class="col-md-3">
        <strong>Special:</strong>
      </div>
      <div class="col-md-4">
        {{orderLine?.special}}
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
          <strong>Menu Item</strong>
        </div>
        <div class="col-md-4">
          {{orderLine?.menuItem}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <strong>Order:</strong>
        </div>
        <div class="col-md-4">
          {{orderLine?.Order }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Employee:</strong>
        </div>
        <div class="col-md-4">
          {{orderLine?.Employee }}
        </div>
      </div>
  
  <div class="row">
    <div class="col-md-3">
        <button type="button" id="update" class="btn btn-success" 
        (click)="redirectToUpdatePage(orderLine.orderLineId)">Update</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="delete" class="btn btn-danger" 
        (click)="redirectToDeletePage(orderLine.orderLineId)">Delete</button>
    </div>
</div>