<div class="row"> 
    <div class="offset-10 col-md-2" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/order/create']">Add Order</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>QR Code Seating</th>
    
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>  
          </thead>
          <tbody>
            <tr *ngFor="let x of orders">
              <td>{{x.orderId}}</td> 
              <td>{{x.orderDateCreated}}</td> 
              <td>{{x.QrCodeSeating}}</td>
          
  
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetailsPage(x.orderId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.orderId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.orderId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  