<div class="card card-body bg-light mb-2 mt-2 offset-2 col-md-8">
    <div class="row">
      <div class="col-md-3">
        <strong>Restaurant Id:</strong>
      </div>
      <div class="col-md-4">
        {{restaurant?.restaurantId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Url:</strong>
      </div>
      <div class="col-md-4">
        {{restaurant?.restaurantUrl}}
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-3">
        <strong>Description:</strong>
      </div>
      <div class="col-md-4">
        {{restaurant?.restaurantDescription}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Coordinates:</strong>
      </div>
      <div class="col-md-4">
        {{restaurant?.restaurantCoordinates}}
      </div>
    </div>
    <div class="row"> 
        <div class="col-md-3">
          <strong>Date Created:</strong>
        </div>
        <div class="col-md-4">
          {{restaurant?.restaurantDateCreated}}
        </div>
      </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Address:</strong>
      </div>
      <div class="col-md-4">
        {{restaurant?.restaurantAddressLine1}},
        {{restaurant?.restaurantAddressLine2}},
        {{restaurant?.restaurantAddressLine3}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>City:</strong>
        </div>
        <div class="col-md-4">
          {{restaurant?.restaurantCity}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Postal Code:</strong>
        </div>
        <div class="col-md-4">
          {{restaurant?.restaurantPostalCode}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Province:</strong>
        </div>
        <div class="col-md-4">
          {{restaurant?.restaurantProvince}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Country:</strong>
        </div>
        <div class="col-md-4">
          {{restaurant?.restaurantCountry}}
        </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-1">
        <button type="submit" class="btn btn-info" (click)="deleteRestaurant()">Delete</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-danger" (click)="redirectToRestaurantList()">Cancel</button>
      </div>
    </div>
  </div>

  
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToRestaurantList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>