<div class="container-fluid offset-2 col-md-8">
    <form [formGroup]="menuItemForm" autocomplete="off" novalidate (ngSubmit)="update(menuItemForm.value)">
   
      <div class="form-horizontal card card-body bg-light mb-2 mt-2">
        <div class="form-group row">
            <label for="menuItemId" class="control-label col-md-2">Menu Item Id : </label>
            <div class="col-md-5">
              <input type="text" formControlName="menuItemId" id="menuItemId" class="form-control" readonly/>
            </div>
          </div>
        <div class="form-group row">
          <label for="menuItemName" class="control-label col-md-2">Menu Item Name : </label>
          <div class="col-md-5">
            <input type="text" formControlName="menuItemName" id="menuItemName" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('menuItemName') && hasError('menuItemName', 'required')">Menu Item Name is required</em>
            <em *ngIf="validateControl('menuItemName') && hasError('menuItemName', 'maxlength')">Maximum allowed length is 100 characters.</em>
          </div>
        </div> 
        <div class="form-group row">
            <label for="menuItemDescription" class="control-label col-md-2">Menu Description : </label>
            <div class="col-md-5">
              <input type="text" formControlName="menuItemDescription" id="menuItemDescription" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('menuItemDescription') && hasError('menuItemDescription', 'required')">Menu Description is required</em>
              <em *ngIf="validateControl('menuItemDescription') && hasError('menuItemDescription', 'maxlength')">Maximum allowed length is 100 characters.</em>
            </div>
          </div>
          <div class="form-group row">
            <label for="menuItemCategoryIdFk" class="control-label col-md-2">Menu Item Category: </label>
            <div class="col-md-5">
              <select formControlName="menuItemCategoryIdFk" id="menuItemCategoryIdFk" class="form-control" [(ngModel)]="selectedCat"  placeholder="select" >
                <option *ngFor=" let x of categories" [ngvalue]="x.menuItemCategoryId">{{x.menuItemCategory1}}</option>
              </select>
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('menuItemCategoryIdFk') && hasError('menuItemCategoryIdFk', 'required')">Menu Item Category Created is required</em>
            </div>
          </div>
      
        <div class="form-group row">
            <div class="offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!menuItemForm.valid">Save</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" [routerLink]="['/menuitem/list']">Cancel</button>
            </div>
        </div> 
        
      </div>
    </form>
   
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'" 
    (redirectOnOK)="redirectToList()">
  </app-success-modal>
   
    <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
   
  </div>
  