<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Product Category Id:</strong>
      </div>
      <div class="col-md-4">
        {{productcategory?.ProductCategoryId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Product Category Description:</strong>
      </div>
      <div class="col-md-4">
        {{productcategory?.ProductCategory1}} 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button type="submit" class="btn btn-info" (click)="deleteProductCategory()">Delete</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="redirectToProductCategoryList()">Cancel</button>
    </div>
  </div>
  
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToProductCategoryList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>
  
  