<div class="d-flex justify-content-around" style="padding-top: 20px;">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Supplier
        </div>
        <ul class="list-group list-group-flush">
            <a [routerLink]="['/supplier/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Supplier</li>
            </a>
            <a [routerLink]="['/supplierorders/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Supplier Orders</li>
            </a>
            
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Product
        </div>
        <ul class="list-group list-group-flush">
            <a [routerLink]="['/product/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Products</li>
            </a>
            <a [routerLink]="['/prodCategory/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Product Category</li>
            </a>
            <a [routerLink]="['/producttype/list']" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Product Type</li>
            </a>
            <a [routerLink]="['/productReOrder/list']" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Product ReOrderFreq</li>
            </a>
        </ul>
    </div>

</div>

