<div class="row"> 
    <div class="offset-10 col-md-2" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/prodWrittenOff/create']">Add Product Category</a>
    </div>
  </div>
  <br> 
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ProductWrittenOffId</th>
              <th>WrittenOffQty</th>
              <th>WrittenOffStockIdFk</th>
              <th>ProductIdFk</th>
              <th>Employee</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of productswrittenoff">
              <td>{{x.ProductWrittenOffId}}</td>
              <td>{{x.WrittenOffQty}}</td>
              <td>{{x.WrittenOffStockIdFk}}</td>
              <td>{{x.ProductIdFk}}</td>
              <td>{{x.Employee}}</td>
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetailsPage(x.ProductWrittenOffId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.ProductWrittenOffId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.ProductWrittenOffId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  