<div class="row" style="padding-top: 10px;"> 
    <div class="offset-8 col-md-2" >
      <a class="btn btn-primary small" (click)="clockIn(attendancesheet)">Clock In</a>
    </div>
    <div class="col-md-2">
      <a class="btn btn-danger small" (click)="ClockOut(attendancesheet)">Clock Out</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>ClockIn DateTime</th>
              <th>ClockOut DateTime</th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let x of attendancesheet">
              <td>{{x.attendancesheetId}}</td>
              <td>{{x.clockindatetime}}</td>
              <td>{{x.clockoutdatetime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  