<div class="container-fluid offset-2 col-md-8">
    <form [formGroup]="specialForm" autocomplete="off" novalidate (ngSubmit)="update(specialForm.value)">
        <div class="form-horizontal card card-body bg-light mb-2 mt-2">
            <div class="form-group row">
                <label for="specialId" class="control-label col-md-2">Id: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="specialId" id="specialId" class="form-control" readonly/>
                </div>
        
              </div>
              <div class="form-group row">
                  <label for="specialStartDate" class="control-label col-md-2">Start Date: </label>
                  <div class="col-md-5">
                    <input type="text" formControlName="specialStartDate" id="specialStartDate" class="form-control" />
                  </div>
                  <div class="col-md-5">
                    <em *ngIf="validateControl('specialStartDate') && hasError('specialStartDate', 'required')">Start Date is required</em>

                  </div>
              </div>
              <div class="form-group row">
                <label for="specialEndDate" class="control-label col-md-2">End Date: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="specialEndDate" id="specialEndDate" class="form-control" />
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('specialEndDate') && hasError('specialEndDate', 'required')">End Date is required</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="specialDescription" class="control-label col-md-2">Description: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="specialDescription" id="specialDescription" class="form-control" />
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('specialDescription') && hasError('specialDescription', 'required')">Description is required</em>
                  <em *ngIf="validateControl('specialDescription') && hasError('specialDescription', 'maxlength')">Maximum allowed length is 50 characters.</em>
                </div>
            </div>

               
                <br><br>
                <div class="form-group row">
                    <div class="offset-5 col-md-1">
                        <button type="submit" class="btn btn-info" [disabled]="!specialForm.valid">Update</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" (click)="redirectTospecialList()">Cancel</button>
                    </div>
                </div>
        </div>
    </form>

    <app-success-modal [modalHeaderText]="'Success message'" 
        [modalBodyText]="'Action completed successfully'" 
        [okButtonText]="'OK'" 
        (redirectOnOK)="redirectTospecialList()">
    </app-success-modal>
 
    <app-error-modal [modalHeaderText]="'Error message'" 
        [modalBodyText]="errorMessage" 
        [okButtonText]="'OK'">
    </app-error-modal>
</div>