<div class="row"> 
    <div class="offset-10 col-md-2" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/orderline/create']">Print Order Details</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="offset-2 col-md-8">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Name</th>
              <th>Description</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x orderline">
              <td>{{x.orderLineId}}</td> 
              <td>{{x.itemQuantity}}</td> 
              <td>{{x.special}}</td>
              <td>{{x.menuItem}}</td>
              <td>{{x.Order}}</td>
              <td>{{x.Employee}}</td>
  
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetailsPage(x.orderLineId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.orderLineId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.orderLineId)">Delete</button></td>
            </tr>
          </tbody> 
        </table>
        
      </div>
    </div>
  </div>
  
  
  