
<div class="container-fluid offset-2 col-md-8">
    <form [formGroup]="restaurantfacilityForm" autocomplete="off" novalidate (ngSubmit)="updaterestaurantfacility(restaurantfacilityForm.value)">
        <div class="form-horizontal card card-body bg-light mb-2 mt-2">
            <div class="form-group row">
                <label for="restaurantFacilityId" class="control-label col-md-2">Id: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="restaurantFacilityId" id="restaurantFacilityId" class="form-control" readonly/>
                </div>
        
              </div>
              <div class="form-group row">
                  <label for="restaurantFacility1" class="control-label col-md-2">Restaurant Facility : </label>
                  <div class="col-md-5">
                    <input type="text" formControlName="restaurantFacility1" id="restaurantFacility1" class="form-control" />
                  </div>
                  <div class="col-md-5">
                    <em *ngIf="validateControl('restaurantFacility1') && hasError('restaurantFacility1', 'required')">Restaurant Facility is required</em>
                    <em *ngIf="validateControl('restaurantFacility1') && hasError('restaurantFacility1', 'maxlength')">Maximum allowed length is 50 characters.</em>
                  </div>
              </div>
              
                <br><br>
                <div class="form-group row">
                    <div class="offset-5 col-md-1">
                        <button type="submit" class="btn btn-info" [disabled]="!restaurantfacilityForm.valid">Update</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" (click)="redirectTorestaurantfacilityList()">Cancel</button>
                    </div>
                </div>
        </div>
    </form>

    <app-success-modal [modalHeaderText]="'Success message'" 
        [modalBodyText]="'Action completed successfully'" 
        [okButtonText]="'OK'" 
        (redirectOnOK)="redirectTorestaurantfacilityList()">
    </app-success-modal>
 
    <app-error-modal [modalHeaderText]="'Error message'" 
        [modalBodyText]="errorMessage" 
        [okButtonText]="'OK'">
    </app-error-modal>
</div>