<div class="card card-body bg-light mb-2 mt-2 offset-2 col-md-8">
    <div class="row">
      <div class="col-md-3">
        <strong>User Id:</strong>
      </div>
      <div class="col-md-4">
        {{user?.id}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Username:</strong>
      </div>
      <div class="col-md-4">
        {{user?.userName}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Email:</strong>
        </div>
        <div class="col-md-4">
          {{user?.email}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Contact Number:</strong>
        </div>
        <div class="col-md-4">
          {{user?.user_Contact_Number}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Name:</strong>
        </div>
        <div class="col-md-4">
          {{user?.user_Name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Surname:</strong>
        </div>
        <div class="col-md-4">
          {{user?.user_Surname}}
        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
            <button type="button" id="update" class="btn btn-success" 
            (click)="redirectToUpdatePage(user.id)">Update</button>
        </div>
        <div class="col-md-3">
            <button type="button" id="delete" class="btn btn-danger" 
            (click)="redirectToDeletePage()">Go Back</button>
        </div>
    </div>
  </div> 
  