<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Supplier Order No:</strong>
      </div>
      <div class="col-md-4">
        {{supplierorder?.SupplierOrderId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Date:</strong>
      </div>
      <div class="col-md-4">
        {{supplierorder?.SupplierOrderDate}}
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-3">
        <strong>Supplier:</strong>
      </div>
      <div class="col-md-4">
        {{supplierorder?.supplierId}}
      </div>
    </div>

    
  </div>
  
  
  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button type="submit" class="btn btn-info" (click)="deleteSupplierOrder()">Delete</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="redirectToSupplierOrderList()">Cancel</button>
    </div>
  </div>
  
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToSupplierOrderList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>
  
  