<div class="container-fluid">
    <form [formGroup]="supplierOrderLineForm" autocomplete="off" novalidate (ngSubmit)="update(supplierOrderLineForm.value)">
   
      <div class="form-horizontal card card-body bg-light mb-2 mt-2">
        <div class="form-group row">
            <label for="supplierOrderLineId" class="control-label col-md-2">Supplier Order Line Id: </label>
            <div class="col-md-5">
              <input type="text" formControlName="supplierOrderLineId" id="supplierOrderLineId" class="form-control" readonly/>
            </div>
          </div>
        <div class="form-group row">
          <label for="supplierOrder" class="control-label col-md-2">Supplier Order: </label>
          <div class="col-md-5">
            <input type="text" formControlName="supplierOrder" id="supplierOrder" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('supplierOrder') && hasError('supplierOrder', 'required')">Supplier Order is required</em>
            <em *ngIf="validateControl('supplierOrder') && hasError('supplierOrder', 'maxlength')">Maximum allowed length is 20 characters.</em>
          </div>
        </div>
        <div class="form-group row">
            <label for="deliveryLeadTime" class="control-label col-md-2">Delivery Lead Time: </label>
            <div class="col-md-5">
              <input type="text" formControlName="deliveryLeadTime" id="deliveryLeadTime" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('deliveryLeadTime') && hasError('deliveryLeadTime', 'required')">Delivery Lead Time is required</em>
              <em *ngIf="validateControl('deliveryLeadTime') && hasError('deliveryLeadTime', 'maxlength')">Maximum allowed length is 50 characters.</em>
            </div>
        </div>
        <div class="form-group row">
            <label for="productStandardPrice" class="control-label col-md-2">Product Standard Price: </label>
            <div class="col-md-5">
              <input type="text" formControlName="productStandardPrice" id="productStandardPrice" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('productStandardPrice') && hasError('productStandardPrice', 'required')">Product Standard Price is required</em>
              <em *ngIf="validateControl('productStandardPrice') && hasError('productStandardPrice', 'maxlength')">Maximum allowed length is 30 characters.</em>
            </div>
        </div>
        <div class="form-group row">
            <label for="discountAgreement" class="control-label col-md-2">Discount Agreement: </label>
            <div class="col-md-5">
              <input type="text" formControlName="discountAgreement" id="discountAgreement" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('discountAgreement') && hasError('discountAgreement', 'required')">Discount Agreement is required</em>
              <em *ngIf="validateControl('discountAgreement') && hasError('discountAgreement', 'maxlength')">Maximum allowed length is 10 characters.</em>
            </div>
        </div>

        <div class="form-group row">
          <label for="orderedQty" class="control-label col-md-2">Quantity: </label>
          <div class="col-md-5">
            <input type="text" formControlName="orderedQty" id="orderedQty" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('orderedQty') && hasError('address1', 'required')">Quantity is required</em>
            <em *ngIf="validateControl('orderedQty') && hasError('address1', 'maxlength')">Maximum allowed length is 50 characters.</em>
          </div>
        </div>
        <div class="form-group row">
            <label for="product" class="control-label col-md-2">product: </label>
            <div class="col-md-5">
              <input type="text" formControlName="product" id="product" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('product') && hasError('product', 'required')">productis required</em>
              <em *ngIf="validateControl('product') && hasError('product', 'maxlength')">Maximum allowed length is 50 characters.</em>
            </div>
        </div>

        <br><br>
   
        <div class="form-group row">
            <div class="offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!supplierOrderLineForm.valid">Update</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" [routerLink]="['/supplierorderline/list']">Cancel</button>
            </div>
        </div>
        
      </div>
    </form>
   
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'" 
    (redirectOnOK)="redirectToList()">
  </app-success-modal>
   
    <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" [okButtonText]="'OK'">
  </app-error-modal>
   
  </div>
  