<div class="container-fluid offset-2 col-md-8">
    <form [formGroup]="advertisementForm" autocomplete="off" novalidate (ngSubmit)="updateadvertisement(advertisementForm.value)">
        <div class="form-horizontal card card-body bg-light mb-2 mt-2">
            <div class="form-group row">
                <label for="advertisementId" class="control-label col-md-2">Id: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="advertisementId" id="advertisementId" class="form-control" readonly/>
                </div>
        
              </div>
            <div class="form-group row">
                <label for="advertisementName" class="control-label col-md-2">Advertisement Name: </label>
                <div class="col-md-5">
                  <input type="text" formControlName="advertisementName" id="advertisementName" class="form-control" />
                </div>
                <div class="col-md-5">
                  <em *ngIf="validateControl('advertisementName') && hasError('advertisementName', 'required')">Advertisement Name is required</em>
                  <em *ngIf="validateControl('advertisementName') && hasError('advertisementName', 'maxlength')">Maximum allowed length is 20 characters.</em>
                </div>
              </div>
              <div class="form-group row">
                  <label for="advertisementDescription" class="control-label col-md-2">Description: </label>
                  <div class="col-md-5">
                    <input type="text" formControlName="advertisementDescription" id="advertisementDescription" class="form-control" />
                  </div>
                  <div class="col-md-5">
                    <em *ngIf="validateControl('advertisementDescription') && hasError('advertisementDescription', 'required')">Description is required</em>
                    <em *ngIf="validateControl('advertisementDescription') && hasError('advertisementDescription', 'maxlength')">Maximum allowed length is 50 characters.</em>
                  </div>
              </div>


                <br><br>
                <div class="form-group row">
                    <div class="offset-5 col-md-1">
                        <button type="submit" class="btn btn-info" [disabled]="!advertisementForm.valid">Update</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-danger" (click)="redirectToList()">Cancel</button>
                    </div>
                </div>
            

        </div>
    </form>

    <app-success-modal [modalHeaderText]="'Success message'"  
        [modalBodyText]="'Action completed successfully'" 
        [okButtonText]="'OK'" 
        (redirectOnOK)="redirectToList()">
    </app-success-modal>
 
    <app-error-modal [modalHeaderText]="'Error message'" 
        [modalBodyText]="errorMessage" 
        [okButtonText]="'OK'">
    </app-error-modal>
</div> 