<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Product Written Off Id:</strong>
      </div>
      <div class="col-md-4">
        {{productwrittenoff?.ProductWrittenOffId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Quantity:</strong>
      </div>
      <div class="col-md-4">
        {{productwrittenoff?.WrittenOffQty}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Written Off Stock:</strong>
      </div>
      <div class="col-md-4">
        {{productwrittenoff?.WrittenOffStockIdFk}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Product Written Off:</strong>
      </div>
      <div class="col-md-4">
        {{productwrittenoff?.ProductIdFk}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Employee:</strong>
      </div>
      <div class="col-md-4">
        {{productwrittenoff?.Employee}}
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-3">
        <button type="button" id="update" class="btn btn-success" 
        (click)="redirectToUpdatePage(productwrittenoff.ProductWrittenOffId)">Update</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="delete" class="btn btn-danger" 
        (click)="redirectToDeletePage(productwrittenoff.ProductWrittenOffId)">Delete</button>
    </div>
</div>