<div class="card card-body bg-light mb-2 mt-2 offset-2 col-md-6">
    <div class="row">
      <div class="col-md-3">
        <strong>Reservation Id:</strong>
      </div>
      <div class="col-md-4">
        {{reserve?.reservationId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Reservation Status:</strong>
      </div>
      <div class="col-md-4">
        {{reserve?.reservationStatusName}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Date Created:</strong>
        </div>
        <div class="col-md-4">
          {{reserve?.reservationDateCreated}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Date Reserved:</strong>
        </div>
        <div class="col-md-4">
          {{reserve?.reservationDateReserved}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Number Of Party:</strong>
        </div>
        <div class="col-md-4">
          {{reserve?.reservationPartyQty}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Number Of Bills:</strong>
        </div>
        <div class="col-md-4">
          {{reserve?.reservationNumberOfBills}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>User:</strong>
        </div>
        <div class="col-md-4">
          {{reserve?.userIdFk}}
        </div>
      </div>

  <div class="row">
    <div class="col-md-3">
        <button type="button" id="update" class="btn btn-success" 
        (click)="redirectToUpdatePage(reserve.reservationId)">Update</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="delete" class="btn btn-danger" 
        (click)="redirectToDeletePage(reserve.reservationId)">Delete</button>
    </div>
</div>