<div class="row"> 
    <div class="offset-9 col-md-3" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/reservation/create']">Add New Reservation</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="offset-2 col-md-9">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date Created</th>
              <th>Date Reserved</th>
              <th>Party Quantity</th>
              <th>Status</th>
              <th>Number Of Bills</th>
              <th>User</th>
    
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of reservations">
              <td>{{x.reservationId}}</td>
              <td>{{x.reservationDateCreated}}</td>
              <td>{{x.reservationDateReserved}}</td>
              <td>{{x.reservationPartyQty}}</td>
              <td>{{x.reservationStatusName}}</td><!--ont id but status name--> 
              <td>{{x.reservationNumberOfBills}}</td>
              <td>{{x.userName}}</td>
    
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetails(x.reservationId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.reservationId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.reservationId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  