<div class="d-flex justify-content-around" style="padding-top: 20px;">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Users
        </div>
        <ul class="list-group list-group-flush">
            <a [routerLink]="['/user/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">Users</li>
            </a>
            <a [routerLink]="['/userroles/list']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
                <li class="list-group-item">User Roles</li>
            </a>
            
        </ul>
    </div>

</div>

