<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>Restaurant Facility Id:</strong>
      </div>
      <div class="col-md-4">
        {{restaurantFacility?.restaurantFacilityId}} 
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Restaurant Facility:</strong>
      </div>
      <div class="col-md-4">
        {{restaurantFacility?.restaurantFacility}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <button type="button" id="update" class="btn btn-success" 
        (click)="redirectToUpdatePage(restaurantFacility?.restaurantFacilityId)">Update</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="delete" class="btn btn-danger" 
        (click)="redirectToDeletePage(restaurantFacility?.restaurantFacility)">Delete</button>
    </div>
</div>