<div class="row"> 
    <div class="offset-9 col-md-3" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/shiftstatus/create']">Add Shift Status</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Start DateTime</th>
              <th>End DateTime</th>
              <th>Capacity</th>
              <th>Name</th>
              <th>Status</th>
    
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of shifts">
              <td>{{x.shiftId}}</td>
              <td>{{x.shiftStartDateTime}}</td>
              <td>{{x.shiftEndDateTime}}</td>
              <td>{{x.shiftCapacity}}</td>
              <td>{{x.shiftName}}</td>
              <td>{{x.shiftStatus}}</td>
    
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetails(x.shiftId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.shiftId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.shiftId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  