<div class="row"> 
    <div class="offset-10 col-md-2" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/product/create']">Add Product</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>ReorderLevel</th>
              <th>OnHand</th>
              <th>Type</th>
              <th>Category</th>
              <th>ReOrderFreq</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of products">
              <td>{{x.productId}}</td>
              <td>{{x.productName}}</td>
              <td>{{x.productDescription}}</td>
              <td>{{x.productReorderLevel}}</td>
              <td>{{x.productOnHand}}</td>
              <td>{{x.productTypeIdFk}}</td>
              <td>{{x.productCategoryIdFk}}</td>
              <td>{{x.productReorderFreqIdFk}}</td>
  
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getProductDetails(x.productId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.productId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.productId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  