<div class="card card-body bg-light mb-2 mt-2  offset-2 col-md-6">
    <div class="row">
      <div class="col-md-3">
        <strong>Reservation Id:</strong>
      </div>
      <div class="col-md-4">
        {{reservation?.reservationId}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Reservation Status:</strong>
      </div>
      <div class="col-md-4">
        {{reservation?.reservationStatusName}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Date Created:</strong>
        </div>
        <div class="col-md-4">
          {{reservation?.reservationDateCreated}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Date Reserved:</strong>
        </div>
        <div class="col-md-4">
          {{reservation?.reservationDateReserved}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Number Of Party:</strong>
        </div>
        <div class="col-md-4">
          {{reservation?.reservationPartyQty}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Number Of Bills:</strong>
        </div>
        <div class="col-md-4">
          {{reservation?.reservationNumberOfBills}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>User:</strong>
        </div>
        <div class="col-md-4">
          {{reservation?.userIdFk}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-8 col-md-2">
          <button type="submit" class="btn btn-info" (click)="delete()">Delete</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="redirectToList()">Cancel</button>
        </div>
      </div>
      
</div>


  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>