<div class="row" style="padding-top: 10px;"> 
  <div class="offset-2 col-md-4">
    <h3>
      Items Belonging to Menu
    </h3>
  </div>
    <div class="offset-10 col-md-2" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/menuitemtype/create']">Add Menu Item</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="offset-2 col-md-8">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Item Name</th> 
              <th>Menu</th>
              <th>Item Category</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of items">
              <td>{{x.menuItemId}}</td>
              <td>{{x.menuItemName}}</td> 
              <td>{{x.menu}}</td> 
              <td>{{x.menuItemCategory}}</td> 
   
  
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetailsPage(x.menuItemId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.menuItemId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.menuItemId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  